.header {
  width: 100%;
  min-height: 74px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .header {
    width: calc(100% - 27px);
    min-height: 56px;
    padding-left: 27px;
  }
}